body{
  
background-image: url("https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
}
.main{
margin: auto;
 width: calc(70vw);
 height: calc(60vh);
 border:2px solid #FEF0E3;
 border-radius: 30px;
text-align: center;
background-color: rgba(128, 128, 128, 0.822);
  color:#FEF0E3;
  padding: 20px;
margin-top: calc(15vh);
}
h3{
  color: black;
}
.inp{
  margin-left: 10px;
  width: calc(20vw);
  border-radius: 10px;
  height: 35px;
  text-align: center;
}
button{
  margin-left: 10px;
  width: calc(10vw);
  border-radius: 10px;
  height: 35px;
  text-align: center;
}